pyinstaller==6.19.0
psutil==7.2.2
winrt-Windows.Foundation==3.2.1
winrt-Windows.Foundation.Collections==3.2.1
winrt-Windows.Devices.Bluetooth.Advertisement==3.2.1
winrt-Windows.Storage.Streams==3.2.1
